@import '../../scss/variables.scss';

:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 6rem;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
    position: relative;
    height: 3.5rem;
    border-radius: 5px;
    background-color: $color-white-dull;
    transition: cursor .3s, background-color .3s;

    &:active,
    &:focus,
    &:hover {
        outline: none;
        cursor: pointer;
        background-color: rgba($color-white-dull, .8);
    }
}

/* <ul> */
.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    
    max-width: 100%;
    height: 100%;
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    color: $color-secondary-dark;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    background-color: transparent;
}

/* <li> */
.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dropdown Arrow Icon */
.icon-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: $color-white-dull;
    padding: .4rem;
    border-radius: 50%;
    background-color: $color-secondary-dark;
}

.icon-arrow svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: $color-white-dull;
}

/* Icon Button */
.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: $color-white-dull;
    padding: .7rem;
    border-radius: 50%;
    background-color: transparent;
}

.icon-button svg {
    width: 2rem;
    height: 2rem;
    fill: $color-white-dull;
}


/* Dropdown Menu */

.dropdown {
    position: absolute;
    top: 4.2rem;
    // top: -10rem;
    min-width: 20rem;
    padding: .8rem;
    border: 1px solid $color-secondary-dark;
    border-radius: 8px;
    background-color: $color-white-dull;
    box-shadow: 0px 0px 3px rgba($color-secondary-dark, .8);
    transform: translateX(-16%);
    overflow: hidden;
    z-index: 10;
    transition: height 500ms ease;
}

.menu {
    width: 100%;
}

.menu-item {
    display: flex;
    align-items: center;

    height: 4rem;
    padding: 0 .5rem;
    font-size: 1.6rem;
    color: $color-secondary-dark;
    border-radius: 8px;
    background-color: rgba($color-secondary, .3);
    transition: color 500ms, background-color 500ms;

    &:not(:last-child) {
        margin-bottom: .5rem;
    }

}

.menu-item:hover {
    color: $color-white-dull;
    background-color: rgba($color-secondary-dark, .8);
}

.menu-item .icon-button {
    margin-right: 0.5rem;
}

.icon-right {
    margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}

.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-primary-exit {
    position: absolute;
}

.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}


.menu-secondary-enter {
    transform: translateX(110%);
}

.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-secondary-exit {}

.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
}