@import "../../scss/breakpoints.scss";
@import "../../scss/variables.scss";

.auth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100vh, 100%);

    font-family: 'Open Sans', sans-serif;
    background-color: $color-secondary;

    @include respond(tab-port) {
        grid-template-columns: 1fr;
    }

    &__image-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        .authBg {
            width: 80%;
        }

        @include respond(tab-port) {
            display: none;
        }
    }

    &__main-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4.5rem;

        padding: 0 2rem;

        &--head {
            text-align: center;
        }
    }
}

.heading-large {
    font-size: 3rem;
    color: $color-primary;
}

.heading-small {
    font-size: 2.2rem;
    color: rgba($color-white, 0.8);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    width: 80%;
    max-width: 45rem;

    &__group {
        position: relative;
        width: 100%;
    }

    &__input {
        width: 100%;
        font-size: 1.7rem;
        color: rgba($color-white, .8);
        padding: .8rem 2.5rem .8rem 4rem;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid rgba($color-white, .8);
        transition: border-bottom .3s;

        &:focus,
        &:hover {
            outline: none;
            border-bottom: 2px solid $color-primary;
        }

        &::-webkit-input-placeholder {
            color: rgba($color-white, .8);
            font-size: 1.7rem;
        }
    }

    &__absolute-icon {
        position: absolute;
        top: 1rem;
        left: .5rem;
        color: $color-primary;
        font-size: 1.7rem;

        &--eye {
            // margin-left: -2.5rem;
            left: auto;
            right: .5rem;
            transition: color .3s, cursor .3s;

            &:active,
            &:focus,
            &:hover {
                color: $color-primary-dark;
                cursor: pointer;
            }
        }
    }
}

.resetSignupTexts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    width: 100%;
    margin: 1rem 0;

    &--login {
        justify-content: space-between;

        @include respond(small-phone) {
            flex-direction: column;
        }
    }
}

.authLinks {
    font-size: 1.5rem;
    color: rgba($color-white, .8);

    &--primary {
        color: $color-primary;
    }
}

.otherAuthOptions {
    text-align: center;

    &__text {
        font-size: 1.7rem;
        color: rgba($color-white, .8);
        margin-bottom: 1rem;

        &:before,
        &:after {
            content: '';
            width: 14.6rem;
            height: 2px;
            display: inline-block;
            background-color: rgba($color-white, .8);
            vertical-align: middle;

            @include respond(medium-phone) {
                width: 22vw;
            }

            @include respond(small-phone) {
                width: 18vw;
            }
        }

        &::before {
            margin-right: 2rem;
        }

        &::after {
            margin-left: 2rem;
        }
    }

    &__icons {
        width: 4rem;
        height: 4rem;
        display: inline-block;
        font-size: 2rem;
        color: $color-primary;
        text-align: center;
        line-height: 3.5rem;
        border-radius: 50%;
        border: 2px solid $color-primary;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}