@import "../../scss/variables.scss";

.btn {
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    text-align: center;
    border: none;
    cursor: pointer;

    &--primary {
        color: $color-secondary-dark;
        background-color: $color-primary;
        transition: color .3s, background-color .3s;

        &:focus,
        &:active,
        &:hover {
            outline: none;
            color: rgba($color-white, .8);
            background-color: $color-primary-dark;
        }
    }

    &--light {
        color: $color-secondary-dark;
        background-color: $color-white-dull;
        transition: color .3s, background-color .3s;

        &:focus,
        &:active,
        &:hover {
            outline: none;
            color: $color-white-dull;
            background-color: $color-primary;
        }
    }

    &--normal {
        font-size: 1.8rem;
        font-weight: 600;
        min-width: 13rem;
        padding: .8rem .5rem;
        border-radius: 5px;
    }

    &--large {
        font-size: 2.6rem;
        font-weight: 500;
        min-width: 45rem;
        padding: 1rem;
        border-radius: 1rem;
    }

    &--small {
        font-size: 1.5rem;
        font-weight: 500;
        min-width: 8rem;
        padding: .5rem 1rem;
        border-radius: 5px;
    }

    &--poppins {
        font-family: 'Poppins', 'Segoe UI', 'Open Sans', sans-serif;
        font-size: 2.2rem;
        min-width: 18rem;
        padding: .8rem .5rem;
        border-radius: 5px;
    }
}