@import "../../scss/variables.scss";

.btn {
    text-align: center;
    border: none;
    cursor: pointer;

    &--blue {
        color: $color-light-1;
        background-color: $color-blue;
    }

    &--normal {
        font-family: 'Segoe UI', 'Open Sans', sans-serif;
        font-size: 1.8rem;
        width: 13rem;
        padding: .8rem .5rem;
        border-radius: 5px;
    }

    &--large {
        font-family: 'Open Sans', 'Segoe UI', sans-serif;
        font-size: 2.6rem;
        width: 45rem;
        padding: 1rem 0;
        border-radius: 10px;
    }
}