@import '../../../scss/breakpoints.scss';
@import '../../../scss/variables.scss';

.stages {
    display: flex;
    justify-content: center;
    align-content: center;

    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    padding: 2rem;

    & .tileLayout {
        display: grid;
        grid-template-columns: .7fr .3fr;

        width: 80%;
        font-family: 'Segoe UI', 'Open Sans', sans-serif;
        border-radius: 1.2rem;
        background-color: $color-secondary-dark;
        box-shadow: 1px 1px 6px rgba($color-secondary-dark, .8);

        @include respond(tab-land) {
            grid-template-columns: 1fr;
            grid-template-rows: min-content 1fr;
            width: 100%;
        }

        &__left {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: min-content 1fr;
            border-right: 1px solid $color-secondary;

            @include respond(phone) {
                border-right: none;
                border-bottom: 1px solid $color-secondary;
            }
        }

        &__heading {
            grid-row: 1/ span 1;

            font-family: inherit;
            font-size: 1.7rem;
            font-weight: 600;
            color: rgba($color-white, .8);
            padding: 2rem;

            @include respond(tab-land) {
                text-align: center;
            }
        }

        &__mainContent {
            grid-row: 2/ span 1;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            gap: 2rem;

            @include respond(tab-land) {
                padding: 2rem 0;
                border-bottom: 1px solid $color-secondary;

            }
        }

        &__splider {
            align-self: center;
            padding: 2rem 0;
        }

        &__splide {
            max-width: 50rem;
            gap: 1rem;

            @include respond(phone) {
                max-width: 40rem;
            }

            @include respond(tiny-phone) {
                max-width: 30rem;
                gap: .5rem;
            }
        }
    }

    & .rightBox {
        padding: 2rem 1rem;

        &__heading {
            font-family: 'Segoe UI', 'Open Sans', sans-serif;
            font-size: 1.6rem;
            font-weight: bold;
            color: rgba($color-white, .8);
            text-align: center;
        }

        &__cards {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            padding: 2rem 1rem;
            border-bottom: 1px solid $color-secondary;
        }

        &__output {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            padding: 2rem;

        }

        &__outputImg {
            width: 15rem;
            align-self: center;
        }
    }

    & .table {

        &__row {
            display: flex;
            justify-content: center;
            align-content: center;
            gap: 1.5rem;
        }

        &__text {
            width: 100%;
            font-size: 1.5rem;
            font-weight: normal;
            color: rgba($color-white, .8);
            text-align: right;

            &--primary {
                color: $color-primary;
                text-align: left;
            }

            &--img {
                width: auto;
                align-self: center;
            }
        }

        &__img {
            width: 15%;

            &--2 {
                width: 50%;
            }

            & img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}