@import '../../../scss/variables.scss';
@import '../../../scss/fonts.scss';

.playlistCard {
    display: grid;
    grid-template-columns: 40% 40% 15%;
    align-items: center;
    gap: 1rem;

    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 1.5rem 0;

    &__text {
        color: $color-secondary-light;
        font-family: inherit;
        font-size: 1.8rem;
        font-weight: inherit;
    }

    &__img {
        display: flex;
        gap: 2rem;
    }

    &__Thumbnail {
        width: 4rem;
        height: 4rem;
        border-radius: 5px;
        transition: all .2s;

        &:hover,
        &:focus {
            transform: scale(.9);
            font-size: 3rem;
        }
    }

    &__allMedia {
        font-family: inherit;
        font-size: 1.6rem;
        font-weight: inherit;
        color: $color-primary;
        transition: cursor .3s, color .3s, transform .15s;

        &:hover,
        &:focus {
            cursor: pointer;
            color: $color-primary-dark;
            transform: scale(.95);
        }
    }
}