@import '../../../scss/variables.scss';
@import '../../../scss/fonts.scss';

.thumbnailCard {
    display: grid;
    grid-template-rows: 1fr 6rem;

    width: 30rem;
    height: 22rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border: 2px solid transparent;
    background-color: $color-secondary;
    position: relative;
    transition: cursor .3s, filter .3s, border .3s;

    &:active,
    &:focus,
    &:hover {
        outline: none;
        cursor: pointer;
        filter: brightness(.7);
        border: 2px solid $color-primary;
    }

    &__status {
        position: absolute;
        top: 0;
        left: 0;

        font-family: 'Segoe UI', 'Open Sans', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        color: rgba($color-white, .8);
        background-color: $color-red;
        padding: .5rem 1rem;
        z-index: 1;
        transition: filter .3s;
    }

    &__img {
        width: 100%;
        min-height: 15rem;
        max-height: 15rem;
        object-fit: cover;
        border-top-right-radius: 2.9rem;
        transition: width .3s;
    }

    &__bottom {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 1.5rem;
        overflow: hidden;
    }

    &__text {
        color: rgba($color-white, .8);
        font-family: 'Segoe UI', 'Open Sans', sans-serif;
        font-weight: 600;

    }

    &__name {
        color: inherit;
        font-size: 1.7rem;
    }

    &__detail {
        color: inherit;
        font-size: 1.4rem;
        margin-top: 5px;
    }
}