@import '../../../scss/variables.scss';
@import '../../../scss/fonts.scss';

//Thumbnail Card Start
.thumbnailCard {
    width: 30rem;
    height: 22rem;
    border-radius: 5px;
    background-color: $color-grey-dark-4;
    position: relative;

    &__status {
        position: absolute;
        top: 0;
        left: 0;

        color: $color-white;
        font-family: 'Segoe UI', 'Open Sans', sans-serif;
        font-size: 1.2rem;
        background-color: $color-red;
        padding: .5rem 1rem;
    }

    &__img>img {
        width: 30rem;
        height: 15rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__text {
        color: $color-white;
        font-family: 'Segoe UI', 'Open Sans', sans-serif;
        font-weight: 600;
        padding: 1rem 2rem;
    }

    &__name {
        color: inherit;
        font-size: 2rem;
    }

    &__detail {
        color: inherit;
        font-size: 1.4rem;
        margin-top: 5px;
    }
}

// Thumbnail Card End

// Features Card Start


// Features Card End