@import "../../scss/variables.scss";

.library {

    &__head {
        position: sticky;
        top: 14.5rem;
        z-index: 10;

        display: flex;
        justify-content: space-between;
        padding: 2rem 5rem 2rem 5rem;
        background-color: $color-secondary;
        box-shadow: 0px 2px 7px rgba($color-secondary-dark, .8);

        &__buttons {
            display: flex;
            gap: 2rem;
        }
    }

    &__head-right {
        display: flex;
        gap: 2rem;
    }

    &__main {
        margin: 1.5rem 1.5rem 0 1.5rem;
        // height: 64vh;
        // max-height: 64vh;
        // overflow: auto;
        border-radius: 2rem;
        background-color: $color-secondary-dark;
        padding: 4rem;
        margin-bottom: 2rem;
    }
}

.avatar {
    font-size: 1.5rem;
    width: 3.8rem;
    height: 3.8rem;
    display: block;
    text-align: center;
    line-height: 3.5rem;
    background-color: $color-secondary-dark;
    color: $color-white;
    border: 1px solid $color-secondary-dark;
    border-radius: 50%;

    &__container {
        display: flex;
        justify-content: center;
    }
}

.thumbnail-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2.5rem;
}