@import "../../scss/variables.scss";

.inner-tab-list {
    position: sticky;
    top: 13.5rem;
    font-family: 'Segoe UI', sans-serif;
    background-color: $color-secondary;
    z-index: 100;

    &-item {
        display: inline-block;
        color: rgba($color-white, .8);
        font-size: 1.8rem;
        font-weight: bold;
        padding: 1rem 2rem;
        border: none;
        transition: color .3s, cursor .3s;

        &:first-child {
            padding-left: 2rem;
        }
    }

    &-active,
    &:focus,
    &:hover {
        outline: none;
        color: $color-primary;
        cursor: pointer;
    }
}