@import "../../scss/variables.scss";

.tab-list {
    position: sticky;
    top: 10rem;

    font-family: 'Segoe UI', sans-serif;
    border-bottom: 2px solid rgba($color-white, .8);
    background-color: $color-secondary;
    z-index: 1000;
    transition: color .3s, border-bottom .3s;

    &-item {
        display: inline-block;
        color: rgba($color-white, .8);
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: -2px;
        padding: 1rem 2rem;
        border: none;
        border-bottom: 4px solid transparent;
        transition: cursor .3s;

        &:active,
        &:focus,
        &:hover {
            cursor: pointer;
        }

        &:not(:first-child) {
            margin-left: 5rem;
        }
    }

    &-active,
    &-focus {
        outline: none;
        border: none;
        border-bottom: 4px solid $color-primary;
    }
}