@import '../../../scss/breakpoints.scss';
@import '../../../scss/variables.scss';

.wallStageLargeCard {
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    border-radius: 2rem;
    background-color: $color-secondary-dark;
    // box-shadow: 1px 2px 4px $color-secondary;

    &__title {
        font-family: 'Segoe UI', 'Open Sans', sans-serif;
        font-size: 1.7rem;
        font-weight: bold;
        color: rgba($color-white, .8);
    }

    &__imgBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    &__largeImg {
        width: 26rem;
        height: 26rem;
        padding: 2rem;
    }

    &__smallImg {
        width: 10rem;
        height: 10rem;
        padding: 1rem;
        margin: 2.5rem;
        background-color: $color-secondary;
        border-radius: 1.2rem;

        @include respond(phone) {
            width: 7.4rem;
            height: 7.4rem;
            padding: .7rem;
            margin: 0 2rem;
        }

        @include respond(tiny-phone) {
            width: 7rem;
            height: 7rem;
            padding: .5rem;
            margin: 0 1.8rem;
        }
    }
}

.splide-custom {
    width: 780px;
    gap: 1rem
}