@import '../../../scss/variables.scss';

.comment {
    grid-area: replyCommentArea;

    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    color: rgba($color-white, .8);
    padding: 0 2rem;
    border-left: 2px solid transparent;
    border-bottom: 1px solid rgba($color-white, .6);
    transition: border-left .3s, background-color .3s;

    &:active,
    &:focus,
    &:hover {
        outline: none;
        border-left: 2px solid $color-primary;
        background-color: rgba($color-secondary, .6);
    }

    /* &__check {
        position: absolute;
        top: 2rem;
        right: 0;
        z-index: 1;
    } */

    &__head {
        display: grid;
        grid-template-columns: min-content 1fr min-content;
        align-items: center;
        gap: .8rem;

        font-size: 1.5rem;
        // padding: 1rem 2rem;
        padding: 1rem 0;
        position: relative;
    }

    &__name {
        max-width: 100%;
    }

    &__time {
        grid-column: 2 / span 1;

        font-size: 1.2rem;
        color: rgba($color-white, .6);
    }

    &__main {
        display: flex;
        align-items: center;
        gap: 1rem;
        // padding: 1rem 2rem;
        padding: 1rem 0;
    }

    &__timespan {
        align-self: flex-start;
        font-size: 1.5rem;
        font-weight: bold;
        color: rgba($color-primary, .8);

    }

    &__text {
        font-size: 1.4rem;
        font-family: 'Open Sans', 'Segoe UI', sans-serif;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 2rem;
        padding: 1.5rem 0;
        font-size: 1.6rem;

        &--left,
        &--right {
            display: flex;
            gap: 1.5rem;
        }
    }

    &__icons {
        transition: color .3s, cursor .3s;

        &:hover {
            cursor: pointer;
            color: rgba($color-white, .6);
        }
    }

    /* &__reply {
        transition: color .3s, cursor .3s;

        &:hover {
            cursor: pointer;
            color: rgba($color-white, .6);
        }
    } */
}

.replyComment {
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-areas:
        ". replyCommentArea"
        "replyTextArea replyTextArea";

    padding: 0 2rem;
    border-left: 2px solid transparent;
    border-bottom: 1px solid rgba($color-white, .6);
    transition: border-left .3s, background-color .3s;

    &:active,
    &:focus,
    &:hover {
        outline: none;
        border-left: 2px solid $color-primary;
        background-color: rgba($color-secondary, .6);
    }

    &__content {
        padding: 0;
        border: none;
        background-color: transparent;

        &:active,
        &:focus,
        &:hover {
            outline: none;
            border: none;
            background-color: transparent;
        }
    }
}

.reply {
    grid-area: replyTextArea;

    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0 2rem;

    &__text-area {
        justify-self: center;
        resize: none;
        min-width: 90%;
        height: 3.5rem;
        font-size: 1.6rem;
        color: rgba($color-white, .8);
        padding: .8rem;
        border-radius: .5rem;
        border: 1px solid $color-primary;
        background-color: $color-secondary;
        transition: box-shadow .3s;

        &:focus,
        &:hover {
            outline: none;
            box-shadow: 0px 0px 5px 0px $color-primary;
        }
    }

    .emoji-picker {

        &__icon {
            font-size: 2.5rem;
            color: rgba($color-white, .8);
            transition: color .3s, cursor .3s;

            &:active,
            &:focus,
            &:hover {
                outline: none;
                color: rgba($color-primary, .8);
                cursor: pointer;
            }
        }

        &__box {
            position: absolute;
            top: -15rem;
            right: 3.2rem;
            border: none;
            z-index: 10;
        }
    }

    .emoji-mart {
        width: 25rem !important;

        &-preview {
            display: none;
        }
    }
}