@import "../../scss/variables.scss";

.home {
    display: grid;
    grid-template-columns: 20vw 1fr;
}

.color {
    grid-column: 1 / 2;

    width: 20vw;
    height: 100vh;
    background-color: $color-blue;
}
.other {
    grid-column: 2 / 3;

}