@import "../../scss/variables.scss";

.home {
    display: grid;
    grid-template-columns: min-content 1fr;

    position: relative;
    background-color: $color-secondary;
}

.header {
    grid-column: 2 / 3;
}

.tabs {
    grid-column: 2 / 3;
}

.navLinks {
    max-height: 100%;
    font-size: 1.7rem;
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    padding: .7rem 2rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom .3s;
    
    &--active {
        outline: none;
        border-bottom: 3px solid $color-primary;
    }

    &__box {
        position: sticky;
        top: 10rem;

        height: 3.5rem;
        background-color: $color-secondary;
        border-bottom: 2px solid rgba($color-white, .6);
    }
}