@import "../../scss/variables.scss";
@import "../../scss/radio-buttons.scss";

.filter {
    display: flex;
    flex-direction: column;

    position: relative;

    &__head {
        display: flex;
        align-items: center;
        gap: 2rem;

        width: fit-content;
        font-family: 'Segoe UI', 'Open Sans', sans-serif;
        font-size: 1.7rem;
        font-weight: 600;
        color: $color-secondary;
        padding: .6rem 1rem;
        border-radius: 5px;
        background-color: $color-white-dull;
        outline: none;

        &:active,
        &:focus,
        &:hover {
            outline: none;
            cursor: pointer;
            color: $color-white-dull;
            background-color: $color-secondary-dark;
            box-shadow: 0px 0px 3px rgba($color-white-dull, .8);
        }
    }

    &__body {
        position: absolute;
        top: 4rem;
        left: 0;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        min-width: 28rem;
        font-family: 'Segoe UI', 'Open Sans', sans-serif;
        font-size: 1.7rem;
        font-weight: 600;
        color: $color-secondary;
        padding: 1.5rem;
        border-radius: 5px;
        background-color: $color-white-dull;
    }

    &__group {
        font-family: inherit;
        border: 2px solid $color-primary;
        border-radius: 5px;
        padding: 1rem;
    }

    &__legend {
        font-size: 1.7rem;
        color: $color-primary;
        padding: 0 .8rem;
    }

    &__items {
        display: flex;
        align-items: center;
        gap: 1rem;

        padding: .5rem;
    }

    &__button {
        align-self: flex-end;
    }

    .horizontalBreak {
        width: 100%;
        height: 1px;
        margin-top: 5px;
        background-color: rgba($color-secondary, .8);
    }

    .checkbox {

        &:checked {
            background-color: rgba($color-secondary, .2);
            border: 1px solid rgba($color-secondary, .2);
        }

        &:checked:after {
            color: $color-secondary-dark;
        }
    }
}