@import "../../scss/variables.scss";
@import "../../scss/forms.scss";
@import "../../scss/authOptions.scss";
@import "../../scss/buttons.scss";

.signIn {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh;
    font-family: 'Open Sans', sans-serif;

    &__image-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        .authBg {
            width: 80%;
        }
    }

    &__main-box {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--head {
            text-align: center;
        }
    }
}

.resetSignupTexts {
    display: inline-block;
    margin-top: 2rem;
}