@import "../../scss/variables.scss";

.modal {

    &__backDrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba($color-secondary-dark, .6);
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        z-index: -1;
        transition: all .3s;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {

        padding: 2rem;
        width: 80rem;
        height: 60rem;
        background-color: red;
        overflow: auto;
    }

    &__test {
        margin: 2rem;
        height: 100rem;
        width: 100rem;
        background-color: cyan;
    }
}

.btn-openModal {
    background: #2c2c2c;
    color: #eee;
    font-size: 1rem;
    margin: 2rem;
    padding: .5rem 1.8rem;
    border: none;
    outline: none;
    cursor: pointer;
}

/* .modal-wrapper {
    position: fixed;
    width: 70%;
    max-width: 800px;
    background: #fff;
    transform: translate(30%, 50%);
    transition: all .5s ease;
} */

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #e9e9e9;
    padding: 1rem;
    background: #2c2c2c;
}

.modal-header span {
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content {
    padding: 1.5rem 1rem;
}

.modal-body {
    margin-bottom: 1rem;
}

.modal-body h4 {
    font-size: 1.8rem;
    color: #DD501D;
}

.modal-body p {
    font-size: 1rem;
    background: #eee;
    color: #333;
    padding: 1rem;
    margin: 1rem 0 2rem 0;
}

.modal-footer button {
    display: block;
    font-size: 1rem;
    margin-left: auto;
    padding: 0.5rem 1.8rem;
    background: #DD501D;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.back-drop {}