@import '../../../scss/variables.scss';

.stagesThumbnailCardV2 {
    width: 52rem;
    height: 18rem   ;
    background-color: $color-secondary;
    box-shadow: 2px 3px 6px $color-secondary-dark;
    border-radius: 1.2rem;

    &__text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Segoe UI', 'Open Sans', sans-serif;
        padding: 2rem;
        margin-bottom: 1rem;

        &--title {
            color: rgba($color-white, .8);
            font-size: 2rem;
            font-weight: bold;
            font-family: inherit;
        }
    }

    &__img {
        display: flex;
        gap: 2rem;
        padding: 0 2rem;
    }
}

.stagesCardThumbnailV2 {
        width: 8rem;
        height: 8rem;
        border-radius: 5px;
        transition: font-size .3s, transform .3s;

        &:hover,
        &:focus {
            transform: scale(.9);
            font-size: 3rem;
        }
}