@import '../../../scss/variables.scss';

.surfaces {
    display: flex;
    justify-content: center;
    align-content: center;

    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    padding: 2rem;
}