@import "../../scss/breakpoints.scss";
@import "../../scss/variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 10rem; // Old Size 15vh
    background-color: $color-secondary-dark;
    box-shadow: 0px 0px 6px rgba($color-secondary-dark, .8);

    @include respond(phone) {
        height: 8rem;
    }
}

.search {
    position: relative;
    width: 28rem;
    font-size: 1.8rem;
    color: rgba($color-white, .8);
    margin-left: 5rem;
    border-radius: 10rem;
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
    transform: border .3s, box-shadow .3s;

    @include respond(tab-port) {
        width: 24rem;
        font-size: 1.6rem;
        margin-left: 2rem;
    }

    @include respond(phone) {
        width: 18rem;
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    @include respond(tiny-phone) {
        width: 16rem;
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    &:active,
    &:focus,
    &:hover {
        outline: none;
        border: 1px solid $color-primary;
        box-shadow: 0px 0px 6px $color-primary;
    }

    &__icon {
        position: absolute;
        top: 1.2rem;
        left: 1.5rem;

        font-size: inherit;
        color: inherit;
    }

    &__input {
        width: 100%;
        height: 4rem;
        font-size: inherit;
        font-weight: 400;
        color: rgba($color-white, .8);
        padding-left: 4.5rem;
        padding-right: 1rem;
        border: none;
        background-color: transparent;

        @include respond(phone) {
            padding-left: 4rem;
        }

        &::placeholder {
            font-size: inherit;
            font-weight: 400;
            color: rgba($color-white, .8);
        }

        &:active,
        &:focus,
        &:hover {
            outline: none;
        }
    }
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5rem;

    &__text {
        font-size: 2rem;
        font-weight: 600;
        color: $color-primary;
        padding-right: 1.5rem;
        text-transform: capitalize;

        @include respond(tab-port) {
            font-size: 1.8rem;
            display: none;
        }
    }

    // &__review {
    //     padding-right: 0;
    // }

    &__picture {
        position: relative;
        padding-right: 1.5rem;

        &>img {
            width: 5.2rem;
            height: 5.2rem;
            border-radius: 50%;
            transition: cursor .3s, box-shadow .3s;

            @include respond(tab-port) {
                width: 4.5rem;
                height: 4.5rem;
            }

            &:focus,
            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 10px rgba($color-secondary-dark, 1);
            }
        }
    }

    &__icon {
        font-size: 2rem;
        color: rgba($color-white, .8);
        padding: .5rem;
        cursor: pointer;
    }

    &__notification {
        font-size: 2.5rem;
        color: rgba($color-white, .8);
        position: relative;
        transition: cursor .3s, color .3s;

        &:focus,
        &:hover {
            cursor: pointer;
            color: $color-primary;

        }
    }
}

.countNotification {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    padding: .2rem;
    font-size: 1rem;
    text-align: center;
    color: $color-white;
    background-color: $color-red;
    border-color: $color-red;
    border-radius: 50%;

    position: absolute;
    top: 2rem;
    left: 2rem;
}

.profileDropdown {
    position: absolute;
    right: 0;
    top: 7rem;
    display: none;
    min-width: 27rem;
    padding: 2rem;
    border-radius: 1.2rem;
    background-color: $color-secondary-light;

    &__listItem {

        font-family: 'Segoe UI', sans-serif;
        font-size: 2rem;
        font-weight: 600;
        color: $color-secondary-dark;
        transition: cursor .3s, background-color .3s;

        &:active,
        &:focus,
        &:hover {
            cursor: pointer;
            background-color: rgba($color-secondary, .2);
        }
    }

    &__listOption {
        display: inline-block;
        min-width: 100%;
        min-height: 5rem;
        line-height: 5rem;
        padding-left: 1rem;
        border-left: 5px solid transparent;
        transition: border-left .3s ease-in-out;

        &:active,
        &:focus,
        &:hover {
            border-left: 5px solid $color-primary-dark;
        }
    }
}

.reviewprofile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // width: 50rem;
    // min-width: 20rem;
    // padding-right: 5rem;
}