@import '../../scss/breakpoints.scss';
@import '../../scss/fonts.scss';
@import '../../scss/variables.scss';

.heroSec {
    display: grid;
    grid-template-rows: 12vh 88vh min-content min-content min-content;

    background-color: $color-secondary;

    &__header {
        position: sticky;
        top: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 4rem;
        background-color: $color-secondary;

        & .active {
            background-color: $color-secondary-dark;
        }
    }

    &__logo {
        display: inline-block;

        .logo-img {
            width: auto;
            max-width: 100%;
            max-height: 70px;

            @include respond(phone) {
                max-height: 50px;
            }
        }
    }

    &__features {
        padding: 8rem 0;

        @include respond(phone) {
            padding: 2rem 0;
        }
    }
}

.navigation {

    &__list {
        display: flex;
        gap: 3rem;
        list-style: none;

        @include respond(small-desktop) {
            gap: 1rem;
        }
    }

    &__links {

        &--mobile {
            @include respond(phone) {
                display: none;
            }
        }
    }

    &__link {
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        color: $color-primary;
        padding: .5rem 2.5rem;
        border-radius: 1rem;
        transition: color .3s, background-color .3s;

        &:focus,
        &:active,
        &:hover {
            outline: none;
            color: rgba($color-white, .8);
            background-color: $color-primary;
        }

        &--primary {
            color: rgba($color-white, .8);
            background-color: $color-primary;
            border-radius: 1rem;
            transition: color .3s, background-color .3s, box-shadow .3s;

            &:focus,
            &:active,
            &:hover {
                outline: none;
                color: $color-primary;
                background-color: $color-secondary-dark;
                box-shadow: 0px 0px 15px rgba($color-primary, 1);
            }
        }

    }
}

.billBoard {
    display: grid;
    grid-template-columns: 40% 60%;

    @include respond(phone) {
        grid-template-columns: 1fr;
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 85vh;

        @include respond(phone) {
            align-items: flex-start;
        }

        @include respond(medium-phone) {
            align-items: center;
        }
    }

    &__text {
        color: rgba($color-white, .8);
        font-size: 7rem;
        font-weight: bold;
        font-family: 'Metropolis', 'Open Sans', 'Segoe UI', sans-serif;
        text-transform: capitalize;
        padding: 1rem 1rem 1rem 6rem;
        margin: auto 0;
        display: inline-block;
        width: 50rem;

        @include respond(small-desktop) {
            font-size: 4.5rem;
        }

        @include respond(tab-land) {
            width: auto;
        }

        @include respond(phone) {
            width: 60%;
        }

        @include respond(medium-phone) {
            width: 80%;
        }

        &--primary {
            color: $color-primary;
        }
    }

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
    }

    &__img {
        width: 80%;

        @include respond(phone) {
            display: none;
        }
    }
}

.features {

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12rem;

        @include respond(small-desktop) {
            gap: 6rem;
        }
    }

    &__heading {
        color: $color-primary;
        font-family: 'Open Sans', 'Segoe UI', sans-serif;
        font-size: 6rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        padding: 0 2rem 8rem 2rem;

        @include respond(small-desktop) {
            font-size: 4.5rem;
        }

        @include respond(phone) {
            font-size: 3rem;
        }
    }
}

.stories {
    // height: 80vh;
    padding: 8rem 0;

    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5rem;

        @include respond(small-desktop) {
            font-size: 3.5rem;
        }
    }

    &__img {
        &--1 {
            max-width: 100%;

            @include respond(small-desktop) {
                max-width: 80%;
            }

            @include respond(phone) {
                max-width: 65%;
            }
        }

        &--2 {
            max-width: 65%;
        }
    }

    &__text {
        color: rgba($color-white, .6);
        font-family: 'Metropolis', 'Open Sans', 'Segoe UI', sans-serif;
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 1rem 2rem;
        margin: auto 0;

        &--1 {
            max-width: 60rem;

            @include respond(small-desktop) {
                max-width: 70%;
            }
        }

        &--2 {
            padding: 4rem 20rem 8rem 20rem;

            @include respond(small-desktop) {
                padding: 1rem 2rem;
                max-width: 70%;
            }
        }
    }
}

.footer {
    height: 25rem;
    background-color: $color-secondary-dark;
    font-family: 'Metropolis', 'Open Sans', 'Segoe UI', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__social {

        &--icons {
            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }

        &--links {
            text-decoration: none;
            font-size: 2.5rem;
            border-radius: 50%;
            border: 3px solid $color-primary;
            background-color: $color-primary;
            color: rgba($color-white, .9);
            line-height: 5rem;
            width: 5rem;
            height: 5rem;
            text-align: center;
            display: inline-block;
            transition: border .3s, background-color .3s, color .3s;

            &:active,
            &:focus,
            &:hover {
                border: 3px solid $color-primary;
                background-color: rgba($color-white, .9);
                color: $color-primary;
            }
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.8rem;

        &--item {
            list-style: none;
            font-size: 1.8rem;
            padding: .5rem 1rem;
            color: rgba($color-white, .8);
            transition: cursor .3s, border-radius .3s, background-color .3s;

            &:active,
            &:focus,
            &:hover {
                cursor: pointer;
                border-radius: 5px;
                background-color: $color-primary-dark;
            }

            &>a {
                text-decoration: none;
                color: currentColor;
            }
        }
    }

    &__copyright {
        font-size: 1.8rem;
        color: rgba($color-white, .8);
    }
}