@import "../../scss/variables.scss";
@import "../../scss/animations.scss";

a {
    text-decoration: none;
}

// For Normal Sidebar
.sidebar {
    display: grid;
    grid-template-rows: repeat(4, min-content);

    position: sticky;
    top: 0;
    height: 100vh;
    width: 20vw;
    background-color: $color-secondary-dark;
    overflow: auto;
    transition: width .3s ease-in;

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 2.5rem;
    }

    &__logo {

        .logo-img {
            width: auto;
            max-width: 100%;
            height: 64px;
            cursor: pointer;
        }
    }

    &__teamsMenu {
        animation: goLeft-right .8s;
        transition: all .8s;

        &--hidden {
            transform: translateX(-200%);
            width: 0;
            height: 0;
            overflow: hidden;
           
        }
    }

    &__nav {
        padding: 1rem 0;
    }

    &__list {
        list-style: none;
    }

    &__item {
        color: rgba($color-white, .8);
        font-size: 2rem;
        font-weight: 600;
        padding: 1rem 0;
        margin: 0 auto;
        transition: cursor .3s, color .3s, background-color .3s;

        &:hover,
        &:active,
        &:focus {
            cursor: pointer;
            color: $color-secondary-dark;
            background-color: rgba($color-secondary-light, .8);
        }
    }

    &__option {
        display: flex;
        align-items: center;
        gap: 2rem;

        width: 75%;
        margin: auto;
    }

    &__text {
        display: inline-block;
        transition: .3s display ease-in 0s;
        animation: goLeft-right .8s;
    }
}

// Only For Collapsing The Sidebar
.sidebarCollapse {
    width: 6vw;
    transition: width .3s ease-in;
}