@import '../../../scss/variables.scss';

.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 6rem;

    // height: 53rem;
    margin: 2rem;
    padding: 3rem 2rem;
    background-color: $color-secondary-dark;
    border-radius: 1.2rem;
    // overflow: auto;
}