@import '../../scss/variables.scss';
@import '../../scss/scrollbars.scss';

.player {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-auto-rows: min-content 1fr;

    min-height: 100vh;
    background-color: $color-secondary;

    &__header {
        grid-column: 1 / -1;
    }

    &__sidebar {
        grid-column: 2 / 3;
        grid-row: 2 / span 1;
    }

    &__body {
        grid-column-start: 1;
        grid-row: 2 / 3;

        // text-align: center;
        padding: 2rem;
    }
}