@import "../../scss/variables.scss";

.review {
  height: calc(100vh - 10rem);
  padding: 2rem;
  background-color: $color-secondary;

  &__header {
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: $color-white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-transform: capitalize;
    gap: 0.5rem;
    &__username {
      text-transform: capitalize;
    }
    &__horizontal-line {
      height: 2px;
      width: 100%;
      background-color: $color-white;
    }
  }
  &__gallery {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    width: 100%;
    // height: calc(100vh - 10rem - 10vh);
    padding: 2rem;
    border-radius: 1.2rem;
    background-color: $color-secondary-dark;
    overflow: auto;
  }
}
