@import '../../../scss/variables.scss';

.topBtns {
    display: flex;
    gap: 2rem;

    position: absolute;
    top: 10.5rem;
    right: 2rem;
    z-index: 10001;
}

.teamMembers {
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
}

.teamMembersTable {
    width: 100%;
    padding: 2rem;

    &__dropdown {
        max-width: 18rem;
        grid-column: 4 / span 1;
        justify-self: end;
    }

    &__row {
        display: grid;
        grid-template-columns: .1fr .4fr repeat(2, .25fr);

        &--data {
            transition: cursor .3s, background-color .3s;

            &:active,
            &:focus,
            &:hover {
                cursor: pointer;
                background-color: rgba($color-secondary-light, .5);
            }
        }
    }

    &__head,
    &__data {
        padding: 1.5rem 1rem 1.5rem 2rem;
        text-align: left;
        border-bottom: 1px solid $color-secondary-light;
    }

    &__head {
        font-size: 1.8rem;
        // color: $color-secondary-light;
        color: rgba($color-primary, .9);

    }

    &__data {
        display: flex;
        align-items: center;

        font-size: 1.5rem;
        color: rgba($color-white, .8);

        &--flex {
            display: flex;
            align-content: center;
            gap: 1.5rem;
        }
    }

    &__img {
        height: 3.5rem;
        width: 3.5rem;
        margin: auto 0;
        border-radius: 50%;
    }

    &__text {

        &--name {
            font-size: inherit;
            font-weight: 500;
        }

        &--email {
            font-size: 1.3rem;
            font-weight: 400;
            color: rgba($color-secondary-light, .5);
        }
    }
}