@import "../../scss/variables.scss";

.avatarC {
    width: 3.8rem;
    height: 3.8rem;
    display: inline-block;
    text-align: center;
    background-color: $color-secondary-dark;
    border: 1px solid $color-secondary-dark;
    border-radius: 50%;

    & > img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
    }
}