@import 'scss/variables.scss';
@import 'scss/fonts.scss';
@import 'scss/scrollbars.scss';
@import 'scss/range-inputs.scss';
@import 'scss/progressbar.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

a {
  text-decoration: none;
}

//////////////////////////////////////////////////////////////////
////////////////             HEADINGS             ////////////////
//////////////////////////////////////////////////////////////////

.heading-large {
  font-size: 4.5rem;
  color: $color-primary;
}

.heading-small {
  font-size: 3.3rem;
  color: rgba($color-white, .8);
}

//////////////////////////////////////////////////////////////////
////////////////             MARGINS             ////////////////
//////////////////////////////////////////////////////////////////
.margin-0 {
  margin: 0 !important;
}

.margin-l-large {
  margin-left: 5rem;
}

.margin-r-huge {
  margin-right: 11rem;
}

//////////////////////////////////////////////////////////////////
////////////////             PADDINGS             ////////////////
//////////////////////////////////////////////////////////////////
.pd-t-1-5 {
  padding-top: 1.5rem;
}

.pd-l-3 {
  padding-left: 3rem;
}

.pd-b-1 {
  padding-bottom: 1rem;
}

// To truncate the text and include '...' at the end when overflowed
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//Display None 
.dis-none {
  display: none;
}

// To justify content center
.just-cont-cen {
  justify-content: center !important;

}

// To Align Text Center
.txt-align-cen {
  text-align: center;
}


//Text-decoration: none for anchor tags
.txt-dec-none {
  text-decoration: none;
  color: inherit;
}

//For All the dropdowns 
.dropdowns {
  font-family: 'Segoe UI', 'Open Sans', sans-serif;
  font-size: 2rem;
  width: 13rem;
  padding: .5rem;
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;

  &:focus,
  &:active,
  &:hover {
    outline: none;
    background-color: rgba($color-white-dull, .8);
  }
}

// For All Checkboxes
.checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  padding: .8rem;
  background-color: rgba($color-white, .8);
  border-radius: 3px;
  border: 1px solid $color-secondary;
  box-shadow: 0 1px 2px rgba($color-secondary-dark, 0.05), inset 0px -15px 10px -12px rgba($color-secondary-dark, 0.05);
  cursor: pointer;
  transition: color .3s, background-color .3s, box-shadow .3s;

  &:active,
  &:focus,
  &:checked:active {
    outline: none;
    box-shadow: 0 1px 2px rgba($color-secondary-dark, 0.05), inset 0px 1px 3px rgba($color-secondary-dark, 0.1);
  }

  &:checked {
    color: $color-secondary-dark;
    background-color: $color-secondary-light;
    border: 1px solid $color-secondary-light;
    box-shadow: 0 1px 2px rgba($color-secondary-dark, 0.05), inset 0px -15px 10px -12px rgba($color-secondary-dark, 0.05), inset 15px 10px -12px rgba($color-white, 0.1);
  }

  &:checked:after {
    content: '\2714';
    position: absolute;
    top: 0px;
    left: 3px;
    color: $color-secondary;
    font-size: 1.4rem;
    line-height: 1.2;
  }
}

// Chrome Auto-complete Styles
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: transparent;
  -webkit-text-fill-color: rgba($color-white, .8);
  transition: background-color 5000s ease-in-out 0s;
}