@import "scss/variables.scss";
@import "scss/fonts.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

a {
  text-decoration: none;
}

//////////////////////////////////////////////////////////////////
////////////////             HEADINGS             ////////////////
//////////////////////////////////////////////////////////////////

.heading-large {
  font-size: 4.5rem;
  color: $color-grey-dark-1;
}

.heading-small {
  font-size: 3.3rem;
  color: $color-grey-dark-2;
}

.heading-features {
  color: $color-blue;
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 0 2rem 8rem 2rem;
}

//////////////////////////////////////////////////////////////////
////////////////             MARGINS             ////////////////
//////////////////////////////////////////////////////////////////
.margin-l-large {
  margin-left: 5rem;
}

.margin-r-huge {
  margin-right: 11rem;
}

.dis-none {
  display: none;
}

// To truncate the text and include '...' at the end when overflowed
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//Text-decoration: none for anchor tags
.txt-dec-none {
  text-decoration: none;
  color: inherit;
}

//For All the dropdowns 
.dropdown {
  font-family: 'Segoe UI', 'Open Sans', sans-serif;
  font-size: 2rem;
  width: 13rem;
  padding: .5rem;
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;

  &:focus,
  &:active,
  &:hover {
    outline: none;
    background-color: rgba($color-light-1, .8);
  }
}