//////////////////////////////////////////////////////////////////
////////////////              COLORS              ////////////////
//////////////////////////////////////////////////////////////////
$color-white: #fff;
$color-black: #000;

$color-green: #27BC6C;
$color-red: #E10000;
$color-blue: #181F47;

$color-grey-dark-1: #3D3D3D;
$color-grey-dark-2: #3D3D3DE6;

$color-grey-light-1: #CFCFCF;

$color-light-1: #FCFCFC;

$color-dark-1:#00000099;
$color-dark-2:#00000080;