//////////////////////////////////////////////////////////////////
////////////////              COLORS              ////////////////
//////////////////////////////////////////////////////////////////
$color-white: #fff;
$color-black: #000;

$color-green: #27BC6C;
$color-red: #E10000;
$color-blue: #181F47;

$color-grey-dark-1: #3D3D3D;
$color-grey-dark-2: #3D3D3DE6;
$color-grey-dark-3: #535353;
$color-grey-dark-4: #2D2D2D;

$color-grey-light-1: #CFCFCF;
$color-grey-light-2: #FFFFFF80;
$color-grey-light-3: #A2A2A2;

$color-light-1: #FCFCFC;
$color-light-2: #F8FAFC;

$color-dark-1:#00000099;
$color-dark-2:#00000080;
$color-dark-3: #00000029;